body {
    padding: 1em;
    margin:0;
    background:lightblue;
    font-family: "Courier New", "Arial";
    font-size:15px;

}
h1{
    font-family: 'Teko', sans-serif;
    font-size: 5em;
    font-weight: bold;
    -webkit-text-stroke: 2px black;
    color: darkkhaki;
    display: block;
    margin: 0;
    padding: 0.2em 0.1em 0 0.1em;
    text-align: center;


}

.label {
    font-weight:bold;
    width:200px;
    display: inline-flex;
    font-size:14px;
}

.center{
    display: flex;
    justify-content: center;



}

.bigbox{
    width:350px;
    border-style:solid;
    border-width:3px;
    border-color: black;
    border-radius: 5px;

    align-content: center;
    background:royalblue;
}
.labelbox{
    background-color:#000000;
    color:#FFFFFF;
    padding:3px;

}
.labelbox2{
    margin:30px;
}

.box {
    border:#666666 solid 1px;

}
.testi{
    position: absolute;
    left:50%;
}

.error{
    font-size:12px;
    color:red;
    margin-top:10px
}