body {
    padding: 1em;
    margin:0;

    font-family: "Courier New";
    background-color: darkslateblue;
    font-size: 1.1em;
}


section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    font-family: "Courier New";
    background:royalblue;
    border-style:solid;
    border-width:3px;
    border-color: black;
    border-radius: 5px;
    




}


tietokentta {
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;


}

table {
    text-align: left;
    background:#e3e0cc;
    border-style:solid;
    border-width:3px;
    border-color: black;
    border-radius:5px;


}

figure {
    margin:0;
}


h1 {
    font-family: 'Teko', sans-serif;
    font-size: 5em;
    font-weight: bold;
    -webkit-text-stroke: 2px black;
    color: darkkhaki;
    display: block;
    margin: 0;
    padding: 0.2em 0.1em 0 0.1em;
    text-align: center;
}




h4, p{
    margin:0;
}

.kuva{

    display: block;

    margin-left:  auto;
    margin-right: auto;
    border-style:solid;
    border-width:1px;
    border-color: gray;
    border-radius: 2px;

}

.tiedot{



}

.sailo{
    padding: 1em;
    border-top-width:0px;
    table-layout: fixed;



}
td{
    word-break: break-all;
}

#tietokentta{
    padding:1em;
    width: 95%;

}
article{
    background-color: white;
    width: 95%;
}
.expat{
    border-width:0px;

}

/*
*navbarin säädöt
 */

.navi {
    overflow: hidden;

    width: 100%;
    text-align: center;
    flex: 1 1 0;
    padding:1em;


}

.navi a {

    display: inline-block;
    color: black;
    text-align: center;
    padding: 10px 12px;
    text-decoration: none;
    font-size: 17px;
    border-style:solid;
    border-width:3px;
    border-radius:5px;
    background: #c5d5c5;

}

.navi a:hover {
    background: #c5d5c5;

    font-weight:bold;
    border-style:solid;
    border-width:3px;
    border-radius:5px;
}

.navi a.active {
    background-color: #4CAF50;
    color: white;
}

/*
mobilefirstiä
 */
@media only screen and (min-width: 762px) {

    section input{
        width: 25%;
    }

    form input{
        width: calc(25% - 0.4em);
    }

    form textarea{
        width:calc(50% - 0.4em);
    }



    .tiedot {
        width:auto;
    }
    #henkilotiedot{
        order:1
    }
    #kehys {
        order:2;
    }
    section {
        margin-left: 20%;
        margin-right: 20%;
    }
}