/*Author: Torsti Laine*/
body {
    font-family: "Courier New";
    font-weight: bold;
    background-color: darkslateblue;
    padding: 0.1em;
    margin:0;
    font-size: 1.1em;
}

section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

input[type="button"], input[type="submit"] {
    font-family: "Courier New";
    font-weight: bold;
    box-sizing: border-box;
    font-size: 1.1em;
    margin:0 0.2em 0.2em 0.2em;
    height:3em;
    background-color: royalblue;
    border-color: black;
    border-radius: 0.5em;

}

input[type="text"], input[type="date"], input[type="email"], textarea {
    font-size: 1.1em;
    border-width: 2px;
    border-color: black;
    border-style: solid;
    border-radius: 0.5em;
}

div {
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

table {
    text-align: left;
}

figure {
    margin:0;
}

h1 {
    font-family: 'Teko', sans-serif;
    font-size: 5em;
    font-weight: bold;
    -webkit-text-stroke: 2px black;
    color: darkkhaki;
    display: block;
    margin: 0;
    padding: 0.2em 0.1em 0 0.1em;
    text-align: center;
}

h4, p{
    margin:0;
}

footer {
    display: flex;
    justify-content: center;
}

form{
    background-color: #c5d5c5;
    border-style: solid;
    border-radius: 0.5em;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin:0.2em;
}

form textarea {
    margin: 0.2em;
    resize: none;
    padding: 0.1em;
    box-sizing: border-box;
    width: calc(100% - 0.4em);
}

form input{
    margin:0.2em;
    padding:0.1em;
    border-collapse: separate;
    box-sizing: border-box;
    width: calc(100% - 0.4em);
}

ul {
    background-color: #c5d5c5;
    border-style: solid;
    display: flex;
    list-style-type: none;
    margin: 0 0.2em 0.2em 0.2em;
    padding: 0.5em 0.1em 0.5em 0.1em;
    border-radius: 0.5em;
}

ul li{
    background-color: royalblue;
    border-radius: 0.5em;
    border-style: solid;
    padding:0.2em;
    margin: 0 0.1em 0 0.1em;
    flex-grow: 1;
}

ul li ul{
    margin:0;
    padding:0;
    border-style: none;
    display: flex;
    flex-direction: column;
}

ul li ul li{
    margin:0;
    border-style: none;
    border-radius: 0;
}

a {
    background-color: royalblue;
    border-style: solid;
    border-radius: 0.5em;
    text-align: center;
    flex: 1 1 0;
    color: black;
    padding:0.5em;
    margin: 0 0.1em 0 0.1em;
}

a:link {
    width:100%;
    text-decoration: none;
}

a:visited{

}

li a {
    display: flex;
    border-style: none;
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
}

.kuva{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.tiedot{
    width: 100%;
}

.sailo{
    padding: 0.2em 0.5em 0.2em 0.5em;
}

#tietokentta{
    padding:1em;
    width: 100%;
}

#esikatselu{
    font-size: 1.2em;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin:  0em 0.2em 0.2em 0.2em;
}

#esikatselu table{
    border-style: solid;
    border-color: black;
    border-radius: 0.5em;
    background-color: #c5d5c5;

}

@media only screen and (min-width: 762px) {
    html {
        height:100%;
        background-color: lavender;
        padding: 0 5em 0 5em;
    }

    body {
        display:flex;
        flex-direction: column;
        border-style: solid;
        min-height: 100%;
    }

    section {
        display: flex;
        justify-content: center;
        order:1;
        flex-direction: row;
    }
    section input{
        width: 40%;
    }

    input[type="button"], input[type="submit"] {
        margin:0.1em;
    }

    form{
        width:100%;
    }

    form input[type="text"], form input[type="date"], form input[type="email"], form input[type="button"], form input[type="submit"]{
        width: calc(50% - 0.6em);
    }

    li a {
        display: flex;
        justify-content: center;
    }

    .tiedot {
        width: auto;
    }
    #henkilotiedot{
        order:1
    }
    #kehys {
        order:2;
    }

    #esikatselu{
        width: 50%;
    }
}